[submodule "external_deps/Catch2"]
	path = external_deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external_deps/spdlog"]
	path = external_deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external_deps/fmt"]
	path = external_deps/fmt
	url = https://github.com/fmtlib/fmt.git
